<ion-header class="">
  <ion-toolbar>
    <ion-title class="title" size="small">
      ExhibitEcho
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p class="welcome">Welcome to ExhibitEcho</p>
      </ion-col>
      <img src="./assets/icon.jpg" class="pfp" size="small"/>       
</ion-row>
</ion-grid>
<ion-row>
  <ion-col size="9">
<ion-searchbar></ion-searchbar>
</ion-col>
<ion-list style="vertical-align: middle;"> 
  <ion-item>
    <ion-select aria-label="Language" interface="popover" value="en">
      <ion-select-option value="en">en</ion-select-option>
      <ion-select-option value="hi">hi</ion-select-option>
      <ion-select-option value="de">de</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
</ion-row>

<ion-card>
  <ion-card-header>
    <ion-card-title> Upcoming Event</ion-card-title>
    <ion-card-subtitle>Our</ion-card-subtitle>
  </ion-card-header>  
  <img alt="New year" src="./assets/img18.jpeg" style="width:100%;"/>
  <ion-card-content>
   <p>New year Event</p>
   <p>Date: 01 January 2024</p>
   Time: 00:00:00 IST
  </ion-card-content>

  <img alt="New year" src="./assets/img19.jpeg" style="width:100%;"/>
  <ion-card-content>
   <p>Workshop and Art classes for Children</p>
   <p>Date: 27 January 2024</p>
   Time: 17:00:00 IST
  </ion-card-content>

</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Extensive collection</ion-card-title>
    <ion-card-subtitle>Our</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list style="padding: 5px;">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Sclupture" src="./assets/img1.png" />
        </ion-thumbnail>
        <ion-label >Pangolin London exhibits sculptures</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start" >
          <img alt="fax" src="./assets/img2.png" />
        </ion-thumbnail>
        <ion-label>Typewritters and keyboards</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="drawing" src="./assets/img3.png" />
        </ion-thumbnail>
        <ion-label>Art gallery</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img4.png" />
        </ion-thumbnail>
        <ion-label>Sculpture Symphony</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img11.png" />
        </ion-thumbnail>
        <ion-label>Contemporary Comforts</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img12.png" />
        </ion-thumbnail>
        <ion-label>Limbs in Legacy</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img10.png" />
        </ion-thumbnail>
        <ion-label>Sculptural Serenity</ion-label>
      </ion-item>



      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img17.png" />
        </ion-thumbnail>
        <ion-label>Assertive Thorns</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img9.png" />
        </ion-thumbnail>
        <ion-label>Vintage Wheels</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img13.png" />
        </ion-thumbnail>
        <ion-label>Timeless Sculpture</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img16.png" />
        </ion-thumbnail>
        <ion-label>Wyrm's Whimsy</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img14.png" />
        </ion-thumbnail>
        <ion-label>Poetic Forms</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img8.png" />
        </ion-thumbnail>
        <ion-label>Sculpted Symmetry</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img6.png" />
        </ion-thumbnail>
        <ion-label>Clay Craft</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img15.png" />
        </ion-thumbnail>
        <ion-label>Elegant Creations</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img7.png" />
        </ion-thumbnail>
        <ion-label>Antique Atlas</ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="figure" src="./assets/img5.png" />
        </ion-thumbnail>
        <ion-label>Glass Odyssey</ion-label>
      </ion-item> 
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
