<ion-content>
    <h1 class="ion-margin ion-padding" size="large" style="font-weight:700;">Feedback form</h1>
    <ion-item>
        <ion-input class="ion-margin ion-padding" label="Your Name" placeholder="Enter text" class="input"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input class="ion-margin ion-padding" label="Number" type="number" placeholder="000"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input class="ion-margin ion-padding" label="Password input" type="password" value="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input class="ion-margin ion-padding" label="Email input" type="email"
            placeholder="email@domain.com"></ion-input>
    </ion-item>

    <ion-button class="ion-margin ion-padding" style="color:bisque" color="secondary"
        id="present-alert">Submit</ion-button>
    <ion-alert trigger="present-alert" header="This is alert" message="Form submitted"
        [buttons]="alertButtons"></ion-alert>
</ion-content>