<ion-content [fullscreen]="true">
<ion-icon name="arrow-back" (click)="goBack()" size="large" class="ion-margin"></ion-icon>
<ion-img src="./assets/img21.png" class="ion-margin" ></ion-img>
<p class="ion-margin ion-text-justify" style="font-family: 'Times New Roman', Times, serif; font-size: large;">Welcome to the Interactive Art Station, where creativity knows no bounds! Dive into the world of colors at our Color Mixing Wall, where you can experiment with vibrant hues and create your own masterpiece. Explore different textures at our Texture Boards, feeling the magic of artistic touch. This station is a playground for young artists, featuring hands-on activities like painting, drawing, and sensory experiences. Let your imagination run wild as you discover the joy of making art in this dynamic and engaging space designed just for you!</p>
</ion-content>
